In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import datetime
import dateutil

In [7]:

start_date = datetime.date.today() - dateutil.relativedelta.relativedelta(years=2)
end_date = datetime.date.today()

df = yf.download("AMER3.SA", start=start_date, end=end_date)
df = df.loc[:,"Adj Close"]
df

[*********************100%***********************]  1 of 1 completed

Date
2021-02-22    87.904358
2021-02-23    84.208595
2021-02-24    84.600723
2021-02-25    83.326317
2021-02-26    80.385391
                ...
2023-02-13     1.130000
2023-02-14     1.110000
2023-02-15     1.130000
2023-02-16     1.220000
2023-02-17     1.170000
Name: Adj Close, Length: 500, dtype: float64

In [8]:
df = df.to_frame()
df['Adj Close'].isna().sum()
df = df.dropna()
df = df.rename(columns={'Adj Close': 'AdjClose'})

In [9]:
df

             AdjClose
Date
2021-02-22  87.904358
2021-02-23  84.208595
2021-02-24  84.600723
2021-02-25  83.326317
2021-02-26  80.385391
...               ...
2023-02-13   1.130000
2023-02-14   1.110000
2023-02-15   1.130000
2023-02-16   1.220000
2023-02-17   1.170000

[500 rows x 1 columns]

In [12]:
df['dis_ret'] = df.AdjClose.pct_change()
df['log_ret'] = np.log(df.AdjClose/df.AdjClose.shift(1))
#df['dis_ret'] = np.exp(df.log_ret)-1

df = df.dropna()

C:\Users\mathe\AppData\Local\Temp\ipykernel_7896\5789978.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dis_ret'] = df.AdjClose.pct_change()
C:\Users\mathe\AppData\Local\Temp\ipykernel_7896\5789978.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['log_ret'] = np.log(df.AdjClose/df.AdjClose.shift(1))

In [14]:
df = df.reset_index()
print(df.head(5))
print("################")
print(df.tail(5))

        Date   AdjClose   log_ret  dis_ret1  dis_ret2   dis_ret
0 2021-02-24  84.600723  0.004646  0.004657  0.004657  0.004657
1 2021-02-25  83.326317 -0.015178 -0.015064 -0.015064 -0.015064
2 2021-02-26  80.385391 -0.035932 -0.035294 -0.035294 -0.035294
3 2021-03-01  79.140396 -0.015609 -0.015488 -0.015488 -0.015488
4 2021-03-02  77.042526 -0.026866 -0.026508 -0.026508 -0.026508
################
          Date  AdjClose   log_ret  dis_ret1  dis_ret2   dis_ret
493 2023-02-13      1.13  0.026907  0.027273  0.027273  0.027273
494 2023-02-14      1.11 -0.017858 -0.017699 -0.017699 -0.017699
495 2023-02-15      1.13  0.017858  0.018018  0.018018  0.018018
496 2023-02-16      1.22  0.076633  0.079646  0.079646  0.079646
497 2023-02-17      1.17 -0.041847 -0.040984 -0.040984 -0.040984

In [ ]:
logret.w <- apply.weekly(logret,sum)
logret.m <- apply.monthly(logret,sum)
logret.q <- apply.quarterly(logret,sum)
logret.y <- apply.yearly(logret,sum)

In [21]:
df_w = df.groupby([pd.Grouper(key='Date', freq='W')])['log_ret'].sum().to_frame()
df_m = df.groupby([pd.Grouper(key='Date', freq='M')])['log_ret'].sum().to_frame()
df_q = df.groupby([pd.Grouper(key='Date', freq='Q')])['log_ret'].sum().to_frame()
df_y = df.groupby([pd.Grouper(key='Date', freq='Y')])['log_ret'].sum().to_frame()

In [23]:
df_y

             log_ret
Date
2021-12-31 -1.000660
2022-12-31 -1.165679
2023-12-31 -2.109954